[Unit]
After=network.target

[Service]
Type=idle
Restart=on-failure
RestartSec=15
WorkingDirectory=/home/pi/mitwelten-ml-backend/ingest/uploader/
ExecStart=/home/pi/mitwelten-ml-backend/ingest/uploader/.venv/bin/python -u uploader_node.py --index /mnt/elements
TimeoutSec=10

[Install]
WantedBy=default.target
