[Unit]
Description=Mitwelten BatNET Pipeline: Run batdetect2
After=network.target

[Service]
Type=idle
Restart=on-failure
RestartSec=15
User=inferrence
WorkingDirectory=/opt/mitwelten-ml-backend/inference
ExecStart=/opt/mitwelten-ml-backend/inference/.venv-batnet/bin/python -u batnet_pipeline.py
TimeoutSec=30

[Install]
WantedBy=default.target
